@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }

    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .landing-area .child-2 {
        width: 70% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 40% !important;
    }

    .landing-area .child-1 .special-slogan {
        font-family: "Bowlby One", sans-serif;
        font-size: 35px !important;
    }

    .landing-area .child-2 {
        width: 70% !important;
    }
}

/*special*/

@media (min-width: 1024px) and (max-height: 600px) {
    .logo {
        width: 20% !important;
        }

    .user-picture-area img {
        width: 190px;
        height: 190px;
    }

    .landing-area .child-1 .special-slogan {
        font-family: "Bowlby One", sans-serif;
        font-size: 25px !important;
    }

    .landing-area .child-2 {
        width: 40% !important;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 10% !important;
    }

    .user-picture-area img {
        width: 190px;
        height: 190px;
    }

    .form-sector form {
        width: 50%;
    }

    .landing-area img.logo {
        width: 25% !important;
    }

    .landing-area {
        flex-direction: row !important;
        height: 100vh;
    }

    .landing-area .child-1 {
        align-items: flex-start;
        height: 80vh;
        width: 70%;
        text-align: left !important;
    }

    .landing-area .child-1 .logo-area {
        text-align: left !important;
    }

    .landing-area .child-1 {
        align-items: flex-start !important;
    }

    .landing-area .child-1 .special-slogan {
        font-size: 50px !important;
        margin: 0px !important;
    }

    .landing-area .child-2 {
        width: 40% !important;
    }

}