* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

:root {
    --main-color: #02093e;
    --transition: 0.3s all;
}

::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar:hover {
    width: 0.5em;
    transition: var(--transition);
}

::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(94, 94, 94);
    transition: var(--transition);
}

#cdnError {
    display: none;
}

.data {
    display: none;
}

.loading {
    background: #fff !important;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('../assets/static/northCoast_404.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}


.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--main-color);
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
}


.sticky {
    opacity: 1 !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content !important;
    background-color: #ffffff78 !important;
    -webkit-backdrop-filter: saturate(180%) blur(11px);
    -moz-backdrop-filter: saturate(180%) blur(11px);
    backdrop-filter: saturate(180%) blur(14px);
    z-index: 10000;
    padding: 13px;
    transition: var(--transition);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.sticky+.content {
    padding-top: 102px;
}

footer {
    width: 100%;
    position: fixed;
    top: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    backdrop-filter: blur(100px);
    background-color: #00000000;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    margin: 0px 5px;
    color: white;
    font-size: 13px;
}

.footer-container a:hover {
    color: rgba(255, 255, 255, 0.616);
}

a.copyrighted-slogan {
    color: white;

    &:hover {
        color: rgba(255, 255, 255, 0.616);;
        text-decoration: none;
        cursor: default;
    }
}

/*end of main rules*/

/* section-onload*/

.header {
    width: 100%;
    position: relative;
    z-index: 9999;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50%;
    margin-top: 15px;
}

.section-onload {
    position: absolute;
    top: 0;
    background: url(./../assets/static/Marina-photo.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}

.blending-layer {
    width: 100%;
    height: 100vh;
    transition: all 500ms ease-in-out;
    animation: darkenBackground 3s both;
}

@keyframes darkenBackground {
    from {
        background-color: black;
        opacity: 0%;
    }

    to {
        background-color: black;
        opacity: 55%;
    }
}

.landing-area {
    position: absolute;
    top: 0;
    margin: 0% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.landing-area .child-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.landing-area .child-1 .special-slogan {
    font-family: "Bowlby One", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    margin: 15px 0px;
    animation: vibrAnimate2 2s linear 0s 1 normal both;
}

.landing-area .child-2 {
    width: 110%;
}

.landing-area .child-2 img {
    width: 100%;
    padding: 15px;
    animation: vibrAnimate 3s linear 0s infinite normal both;
}

@keyframes vibrAnimate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(2px, -2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    60% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes vibrAnimate2 {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateX(-68px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateX(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateX(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }
}

/* contact page */

.background-area {
    background-color: #02093e;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.contact-field {
    position: relative;
}

.contact-field .parent .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-field .parent .container{
    color: white;
}

.contact-field .parent .container .child-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-field .parent .container .child-1 h1{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.contact-field .parent .container .child-1 p{
    font-weight: normal;
    text-align: center;
    color: lightgray;
    margin: 0 0px 20px 0px;
}

.contact-field .parent .container .child-1 .contact-methods .cnct-us {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    font-size: 19px;
}

.contact-field .parent .container .child-1 .contact-methods .cnct-us i {
    font-size: 1.5em;
    color: #0c75ff;
    margin-right: 25px;
}

.contact-field .parent .container .child-1 .contact-methods .cnct-us a {
    text-decoration: none;
    color: white;
    transition: var(--transition);
    font-size: 1em;
}

.contact-field .parent .container .child-1 .contact-methods .cnct-us:hover a {
    color: rgba(255, 255, 255, 0.616);
    transition: var(--transition);
}

.social-media-platforms {
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
}

.social-media-platforms .social-media-handler a {
    font-size: 25px;
    margin: 0px 10px;
    color: white;
    transition: var(--transition);
}

.social-media-platforms .social-media-handler i {
    font-size: 25px;
    margin: 0px 10px;
    color: white;
    padding: 15px 20px;
    transition: var(--transition);
}

.social-media-platforms .social-media-handler a:hover i{
    background-color: #0c75ff;
    border-radius: 1270px;
    transition: var(--transition);
}

.contact-field .parent .container .child-2 {
    width: 90%;
}

.contact-field .parent .container .child-2 .mail-box{
    background-color: white;
    padding: 50px 30px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.contact-field .parent .container .child-2 form{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-field .parent .container .child-2 form label{
    font-size: 17px;
    margin: 10px 12px;
    text-transform: capitalize;
    color: #004d91;
    letter-spacing: 1px;
    font-weight: bold;
    width: 90%;
}

.contact-field .parent .container .child-2 input:not([type = submit]), textarea {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    border-color: #f7f7f785;
    color: #004d91;
    border-inline-width: 1px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    background-color: #ececec66;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 50%;
    padding-left: 25px;
    &:focus {
        border-color: #0c75ff;
        outline-color: #0c75ff;
        box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
    }
}

.contact-field .parent .container .child-2 #messageContent {
    height: 160px;
    resize: none;
}

.contact-field .parent .container .child-2 .send-button {
    margin: 25px 0px;
    background-color: #0c75ff;
    border: none;
    color: white;
    padding: 15px;
    width: 40%;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    transition: var(--transition);
    float: right;
    font-size: 15px;
        font-weight: bold;
    &:hover {
        cursor: pointer;
    background-color: #3c90fd;
    transition: var(--transition);
    }
}

.maps-embed {
    display: none;
    cursor: pointer;
}

.active {
    display: block !important;
    cursor: pointer;
}

/* contact page end */